//   ______                        __  __        __    __                      __               ______    ______     __     ______
// |  $$$$$$\ _______   __     __  \$$| $$      | $$  | $$  ______    _______ | $$   __       |  $$$$$$\|  $$$$$$\|   $$  |  $$$$$$\
// | $$__| $$|       \ |  \   /  \|  \| $$      | $$__| $$ |      \  /       \| $$  /  \       \$$__| $$| $$$\| $$ \$$$$  | $$___\$$
// | $$    $$| $$$$$$$\ \$$\ /  $$| $$| $$      | $$    $$  \$$$$$$\|  $$$$$$$| $$_/  $$       /      $$| $$$$\ $$  | $$  | $$    \
// | $$$$$$$$| $$  | $$  \$$\  $$ | $$| $$      | $$$$$$$$ /      $$| $$      | $$   $$       |  $$$$$$ | $$\$$\$$  | $$  | $$$$$$$\
// | $$  | $$| $$  | $$   \$$ $$  | $$| $$      | $$  | $$|  $$$$$$$| $$_____ | $$$$$$\       | $$_____ | $$_\$$$$ _| $$_ | $$__/ $$
// | $$  | $$| $$  | $$    \$$$   | $$| $$      | $$  | $$ \$$    $$ \$$     \| $$  \$$\      | $$     \ \$$  \$$$|   $$ \ \$$    $$
//  \$$   \$$ \$$   \$$     \$     \$$ \$$       \$$   \$$  \$$$$$$$  \$$$$$$$ \$$   \$$       \$$$$$$$$  \$$$$$$  \$$$$$$  \$$$$$$/



@import "reset";
@import "./fontstyles.scss";

$shareTechFont: 'Share Tech Mono';
$skModernist: 'sk-modernist-regular';

$goldy: rgb(189, 143, 45);
$creamyCream: #F0F0F0;
$nightTime: #000;

$break-small: 500px;
$break-medium: 1100px;

html {
  background: $nightTime;
  color: $creamyCream;
}

body {
  text-align: center;
  font-family: $shareTechFont;
  font-size: 16px;
  margin: 0 auto;
  letter-spacing: 0.1px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $skModernist;
  font-weight: 400;
}

h5 {
  font-size: 2em;
  margin: 20px 0;
}

h6 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 30px;
}

p {
  font-size: 1.2em;
  line-height: 1.3em;
  letter-spacing: 0.5px;
  @media screen and (max-width: $break-medium) {
    font-size: 1.1em;
  }
  @media screen and (max-width: $break-small) {
    font-size: 1em;
  }
}

a:visited, a:active, a {
  color: #F0F0F0;
  text-decoration: none;
}

hr {
  border: 1px dashed rgba(255,255,255,0.2);
  width: 90%b;
  margin: 30px auto;
}

.button,
#submit {
  font-size: 1.2em;
  letter-spacing: 2px;
  border-radius: 3px;
  padding: 15px 25px;
  border: 1px solid #fff;
  @include transition (all 0.3s);
  text-decoration: none;
}

.button:hover {
  background: $goldy;
  border: 1px solid $goldy;
  color: #000;
}

#logo {
  position: fixed;
  width: 140px;
  left: 30px;
  top: 20px;
  @media screen and (max-width: $break-medium) {
    width: 100px;
    left: 20px;
    top: 10px;
  }
  @media screen and (max-width: $break-small) {
    width: 90px;
    left: 10px;
    top: 10px;
  }
}

#mlhLogo {
  position: fixed;
  right: 30px;
  width: 100px;
  @media screen and (max-width: $break-medium) {
    right: 20px;
    width: 80px;
  }
  @media screen and (max-width: $break-small) {
    right: 10px;
    width: 70px;
  }
}

#fatfLogo {
    @include outer-container(30%);
}

#hacksmithsLogo {
  @include outer-container(25%);
  min-width: 100px;
  margin-bottom: 20px;
}

#goldsmithsLogo {
  @include outer-container(70%);
    padding-bottom: 50px;
}

#dgitLogo {
  @include outer-container(50%);
  min-width: 240px;
}

#improbableLogo {
    @include outer-container(100%)
}

#spotifyLogo {
    @include outer-container(60%);
}

#chirpLogo, #rocketAppLogo, #stepsizeLogo, #trimitLogo, #dotTechLogo {
    @include outer-container(25%);
    @media screen and (max-width: $break-medium) {
      @include outer-container(35%);
      display: block;
      margin-bottom: 30px;
    }
}



#rocketAppLogo {
  @include outer-container(25%);
  margin-left: 10%;
  @media screen and (max-width: $break-medium) {
    @include outer-container(35%);
    display: block;
    margin-left: auto;
  }
}

#mlh_logo {
    @include outer-container(25%);
    min-width: 240px;
    max-height:130px;
}

.coverImage {
  background: linear-gradient( rgba(0,0,0,0),rgba(20,20,40,0.5),  rgba(0,0,0,1) ), url("../images/backgrounds/goldsmiths.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 10px;
}

header {
  margin: 0 20%;
  .title {
    color: $goldy;
    font-size: 7em;
    font-weight: 700;
    line-height: 1em;
    margin: 20px 0;
    @media screen and (max-width: $break-medium) {
      font-size: 5em;
    }
    @media screen and (max-width: $break-small) {
      font-size: 3em;
    }
  }
  .subtitle {
    font-size: 2.3em;
    text-transform: capitalize;
    @media screen and (max-width: $break-medium) {
      font-size: 4em;
    }
    @media screen and (max-width: $break-small) {
      font-size: 2em;
    }
  }
  .hosts {
    width: 100%;
    padding-bottom: 0px;
  }
  .date {
    font-size: 3em;
    margin: 25px 0;
    @media screen and (max-width: $break-medium) {
      font-size: 2.5em;
    }
    @media screen and (max-width: $break-small) {
      font-size: 2em;
    }
  }
  .speech {
    font-size: 1.5em;
    margin: 50px 0;
    @media screen and (max-width: $break-medium) {
      font-size: 1em;
    }
    @media screen and (max-width: $break-small) {
      font-size: 1em;
    }
  }
  @media screen and (max-width: $break-medium) {
    margin: 50px 10%;
  }
  @media screen and (max-width: $break-small) {
    margin: 120px 5%;
  }
}

section {
  margin: 150px 15% 0px 15%;
  p {
    padding: 20px 0 10px 0;
  }
  a {
    text-decoration: underline;
  }
  a:hover {
    background-color: $goldy;
    color: #000;
    @include transition (all 0.3s);
  }
  .invertHover:hover{
    background-color: #000;
    color: $goldy;
    @include transition (all 0.3s);
  }
  .sectionTitle {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 50px;
  }
  .eventSection {
    margin-bottom: 40px;
    @include outer-container;
    .eventImg {
      @include span-columns(6);
      @media screen and (max-width: $break-medium) {
        @include span-columns(12);
        margin-bottom: 20px;
      }
    }
    .eventPara{
      text-align: left;
      @include span-columns(6);
      @media screen and (max-width: $break-medium) {
        @include span-columns(12);
        text-align: center;
      }
    }
  }
  .secSubtitle{
    margin: 40px 0;
  }
  .bottomLine {
    border: 1px solid rgb(255,255,255);
    width: 90%;
    margin: 80px auto 30px;
  }
  @media screen and (max-width: $break-medium) {
    margin: 150px 10% 0px 10%;
  }
  @media screen and (max-width: $break-small) {
    margin: 150px 5% 0px 5%;
  }

}

.faq {
  p {
    padding: 0;
  }
}

.contact {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  @include outer-container;
  hr {
    width:90%;
  }
  .sectionTitle {
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }
  .contactForm {
    display: inline-block;
    text-align: left;
    @include span-columns(6);
    form {
      @include clearfix;
      input,
      textarea {
        width: 100%;
        font-family: $shareTechFont;
        font-size: 1.2em;
        color: #fff;
        padding: 10px 20px;
        margin: 10px 0;
        background: rgba(255,255,255,0);
        border: 1px solid #fff;
        border-radius: 2px;
      }
      textarea {
        height: 200px;
      }
      #submit:hover {
        background: $goldy;
        border: 1px solid $goldy;
        color: #000;
      }
    }
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }
  .contactInfo {
    text-align: left;
    display: inline-block;
    @include span-columns(6);
    .address, .travInfo, .email {
      margin-bottom: 30px;
      h5{
        margin-left: 20px;
        margin-bottom: 10px;
        margin-top: -10px;
      }
    }
    .address{
      margin-bottom: 50px;
    }
    .address p{
      margin-bottom: 30px;
    }

    .button{
      margin-left:20px;
    }
    p {
      padding: 5px 0;
      margin-left: 21px;
    }
    @media screen and (max-width: $break-medium) {
      text-align: center;
      width: 100%;
    }
  }
}

.schedule {
  @include outer-container;
  table{
    margin: 0 auto;
    tr {
      text-align: left;
      border-bottom: solid 1px #222;
      &:nth-child(2n - 1) {
				background: #222;
			}
      td{
        padding: 0.5em 1em 0.5em 1em;
      }
    }
  }
  .scheduleInner{
    @include span-columns(6);
    @media screen and (max-width: $break-medium) {
      @include span-columns(12);
      text-align: center;
    }
  }
}

footer {
  margin-top: 100px;
  margin-bottom: 40px;
  a:hover {
    background: $goldy;
    color: #000;
    @include transition (all 0.3s);
  }
  .social{
    margin-top: 20px;
    a:hover {
      background: none;
      color: $goldy;
      @include transition (all 0.3s);
    }
  }
}
